
{{> head }}
  

{{> navbar }}

{{!-- {{>  }} --}}

<div class="row">
  <div class="col-lg-8">
    <h1>About us!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis dolore voluptatibus est quia asperiores, fuga iusto incidunt reprehenderit ipsa aut consequuntur modi ea distinctio inventore nam consequatur aliquid, ullam ratione!</p>
  </div>
  <div class="col-lg-4">
    <img src="assets/img/post1.jpg" class="img-thumbnail">
  </div>
</div>
 
{{> footer }}
